.wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	min-height: 100%;
}

.header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	height: 120px;
	color: #ffffff;
	background-color: #21759b;
}

.main {
	position: relative;
	height: 100%;
	min-height: 100%;
	margin-top: 120px;
	margin-bottom: 50px;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	height: 50px;
	color: #ffffff;
	background-color: #333333;
}

.footer .copyright {
	line-height: 50px;
}

.navigation {
	color: #444444;
	background-color: #5886c1;
}

.inspector {
	color: #444444;
	background-color: #eeeeee;
}
