body {
	margin: 0;
	overflow: hidden;
}

.wrap,
.header,
.main,
.footer {
	position: absolute;
	overflow: hidden;
	right: 0;
	left: 0;
}

.wrap {
	top: 0;
	bottom: 0;
}

.header {
	top: 0;
	z-index: 10;
	height: 120px;
	color: #ffffff;
	background-color: #21759b;
}

.main {
	top: 120px;
	bottom: 40px;
}

.footer {
	bottom: 0;
	z-index: 10;
	height: 40px;
	color: #ffffff;
	background-color: #333333;
}

.footer .copyright {
	line-height: 40px;
}

.navigation-wrap,
.inspector-wrap {
	position: absolute;
	overflow: hidden;
	top: 0;
	bottom: 0;
}

.navigation-wrap {
	left: 0;
	width: 25%;
	color: #ffffff;
	background-color: #3f6390;
}

.navigation-wrap a,
.navigation-wrap a:visited {
	color: #ffffff;
	text-decoration: underline;
}

.navigation-wrap a:hover,
.navigation-wrap a:focus {
	color: #cccccc;
}

.inspector-wrap {
	right: 0;
	width: 75%;
	color: #444444;
	background-color: #eeeeee;
}

.navigation-header,
.navigation-content-wrap,
.inspector-route,
.inspector-content-wrap {
	position: absolute;
	overflow: hidden;
	right: 0;
	left: 0;
}

.navigation-header,
.inspector-route {
	top: 0;
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
}

.navigation-header {
	background-color: #1b314c;
}

.inspector-route {
	background-color: #cccccc;
}

.navigation-content-wrap,
.inspector-content-wrap {
	top: 30px;
	bottom: 0;
}

.navigation-content-wrap {
	overflow-y: scroll;
}

.navigation-content,
.inspector-content {
	position: relative;
	padding: 10px 15px;
}

.inspector-content {
	display: block;
	width: 100%;
	height: 100%;
	resize: none;
	border: 0;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navigation-header-buttons,
.inspector-header-buttons {
	position: absolute;
	top: 50%;
	right: 10px;
	z-index: 10;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.modal.fade.in {
	display: block;
}

.modal-body {
	max-height: 600px;
	overflow-y: scroll;
}
